.btn {
  border: none;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  img {
    width: 16px;
  }
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  gap: 12px;
  font-size: 15px;
  font-weight: 500;
  background: #ffbb64;
  color: #000000;
  border-radius: 10px;
  img {
    margin-top: 4px;
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  background: #414141;
  font-size: 14px;
  color: #ffbb64;
  border-radius: 10px;
  font-weight: 400;
}
