.topSales-wrapper {
  width: 270px;
  height: 220px;
  background: #dbdbdb;
  border-radius: 15px;
  padding: 16px 12px;
  margin-top: 8px;
  .topSales-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    h4 {
      font-size: 17px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
    }
  }
  .topSales-container-box {
    height: 130px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
    .topSales-container {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fbfbfb;
      margin: 3px 0;
      padding: 8px 14px;
      border-radius: 10px;
      .number {
        font-size: 14px;
        color: #6d6d6d;
      }
      .img {
        border: 1px solid #a8a8a8;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          border-radius: 12px;
        }
      }
      .para {
        h3 {
          font-size: 13px;
          color: #6a6969;
          font-weight: 500;
        }
        p {
          font-size: 13px;
          color: #fbb80c;
          margin-top: 6px;
        }
      }
    }
  }
  .add-btn {
    margin-top: 5px;
    button {
      width: 100%;
      font-size: 13px;
    }
  }
}
