.employees-wrapper {
  max-width: 20%;
  width: 100%;
  background: #dbdbdb;
  border-radius: 15px;
  padding: 16px;
  .employees-head {
    margin-bottom: 16px;
    h4 {
      font-size: 17px;
    }
  }
  .employees-container {
    height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
    .employees-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;
      p {
        font-size: 17px;
        color: #525252;
        font-weight: 500;
      }
      .dots {
        width: 10px;
        height: 10px;
        background: #03c403;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }
  .add-employee {
    button {
      width: 100%;
    }
  }
}
