.preview-changes-modal-wrapper {
  .preview-changes-modal-head {
    margin-bottom: 24px;
    h4 {
      font-size: 21px;
      font-weight: 500;
    }
  }
  .new-outlet-wrapper {
    h6 {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .new-outlet-container {
      background: #e6e6e6;
      border-radius: 10px;
      padding: 12px;
      .drop-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .image {
          display: flex;
          align-items: center;
          gap: 12px;
          img {
            width: 45px;
            height: 40px;
            border-radius: 10px;
            object-fit: cover;
          }
          h4 {
            font-size: 16px;
            color: #6a6969;
          }
        }
        .top-drop img {
          transition: transform 0.3s ease;
        }

        .top-drop.open img {
          transform: rotate(180deg);
        }
      }
      .details-container {
        display: flex;
        align-items: center;
        margin-left: 60px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        .text {
          display: grid;
          grid-template-columns: 2fr 1fr;
          margin-bottom: 13px;
          gap: 20px;
          p {
            font-size: 15px;
          }
        }
        .ans {
          p {
            margin-bottom: 10px;
            font-size: 15px;
            width: 240px;
            line-height: 19px;
          }
        }
      }
      .details-container.open {
        max-height: 300px;
      }
    }
  }
  .update-content {
    margin-top: 20px;
  }
  .commit-changes-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    button {
      padding: 7px 90px;
    }
  }
}
