.navigation {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-bottom: 30px;

  .stocks {
    cursor: pointer;

    p {
      font-weight: 400;
      font-size: 15px;
      color: #6a6969;
      transition: color 0.3s, border-color 0.3s;
    }

    &.active {
      p {
        color: #ffbb64;
        border-bottom: 2px solid #ffbb64;
      }
    }
  }
}
