.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .heading {
    h4 {
      font-size: 36px;
      font-weight: 500;
      span {
        color: #ffbb64;
      }
    }
  }
  .dashboard-head {
    display: flex;
    align-items: center;
    gap: 8px;
    .flex-item {
      display: flex;
      align-items: center;
      background: #d9d9d9;
      padding: 4px 18px;
      border-radius: 8px;
      justify-content: space-between;
      border-radius: 50px;
      cursor: pointer;
      p {
        padding: 11px 14px;
        border-radius: 20px;
        color: #464343;
        font-size: 12px;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
    .month-input {
      input {
        outline: none;
        border: none;
        background: #d9d9d9;
        padding: 13px 26px;
        border-radius: 50px;
      }
    }
  }
}
.component {
  display: flex;
  gap: 16px;
}
.second-components {
  display: flex;
  gap: 16px;
}
