.damage-product-wrapper {
  width: 370px;
  height: 218px;
  background: #dbdbdb;
  border-radius: 15px;
  padding: 16px 12px;
  margin-top: 10px;
  .damage-product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    h4 {
      font-size: 17px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      cursor: pointer;
    }
  }
  .table-wrapper {
    width: 100%;
    height: 155px;
    white-space: nowrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      .align-right {
        text-align: right;
      }

      .align-left {
        text-align: left;
      }

      thead {
        th {
          color: #6a6969;
          font-size: 13px;
          font-weight: 600;
          background-color: #ffbb64;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 12px 5px 12px 12px;
          color: #000;

          > span {
            display: flex;
            align-items: center;
          }
        }
      }
      tbody {
        background: #fff;
        .flex-item {
          display: flex;
          align-items: center;
          gap: 8px;
          padding-left: 9px;
          span {
            color: #6b6754;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .view-text {
          background: #d5ffbc;
          border-radius: 5px;
          width: fit-content;
          padding: 6px 16px;
          cursor: pointer;
          p {
            font-size: 12px;
            font-weight: 700;
          }
        }
        .img-box {
          border: 1px solid #6caa7d;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 20px;
            object-fit: cover;
          }
        }
        .img {
          img {
            width: 35px;
          }
        }
        td {
          border-bottom: 1px solid #e7e7e7;
          height: 46px;
          text-align: left;
          font-size: 15px;
          font-weight: 400;
          line-height: 1;
          white-space: nowrap;
          padding: 0 5px;
        }
      }
    }
  }
}
