.add-expenses-wrapper {
  .add-expenses-head {
    margin-bottom: 24px;
    h4 {
      font-size: 21px;
      font-weight: 500;
    }
  }
  .form-wrapper {
    .name {
      input {
        border: none;
        outline: none;
        padding: 12px 18px;
        border-radius: 15px;
        font-size: 14px;
        max-width: 450px;
        width: 100%;
        color: #000;
        background: #d9d9d9;
        &::placeholder {
          color: #c4bdbd;
        }
      }
    }
    .add-expenses-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 22px;
      button {
        padding: 8px 60px;
      }
    }
  }
}
