.stockList-wrapper {
  margin-left: 40px;
  border-left: 1px solid #d9d8d8;

  .stock-list-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .stock-head {
      margin-left: 30px;
      h4 {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .calendar-box {
      position: relative;
      width: 100px;
      margin-top: 10px;
      margin-right: 20px;

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: "Inter", sans-serif;
      }

      .calendar {
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        z-index: 10;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffbb64;
          color: white;
          padding: 10px;
          border-radius: 10px;

          h2 {
            margin: 0;
            font-size: 14px;
          }

          button {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
          }
        }

        .days-grid {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 5px;
          padding: 10px;
          font-size: 12px;

          .day {
            text-align: center;
            padding: 4px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background-color: #6a6969;
              color: #fff;
            }
          }
        }
      }
    }

    // .drop-down-list {
    //   select {
    //     border: 1px solid #ffbb64;
    //     outline: none;
    //     background: #f6f6f6;
    //     border-radius: 10px;
    //     padding: 6px 8px;
    //     color: #ffbb64;
    //     cursor: pointer;
    //   }
    // }
  }
  .data-content {
    height: 349px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 1px;
    }
    .box {
      background: #e3e1e1;
      padding: 6px 12px;
      border-radius: 10px;
      margin-top: 4px;
      margin-left: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .flex-box {
        display: flex;
        align-items: center;
        gap: 14px;
        .img {
          img {
            width: 50px;
            border-radius: 10px;
          }
        }
        .para {
          h5 {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .add-delete-content {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 12px;
        .litre {
          p {
            font-size: 16px;
            font-weight: 600;
            span {
              color: #6a6969;
              font-size: 12px;
            }
          }
        }
        .edit-icon {
          cursor: pointer;
        }
        .delete-icon {
          cursor: pointer;
        }
      }
    }
  }
  .clear {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    p {
      border-bottom: 1px solid #000;
      width: fit-content;
      font-size: 14px;
    }
  }
}
