.custom-product-list-content {
  padding-left: 30px;
  .head {
    margin-top: 20px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 25px;
      font-weight: 500;
      margin-left: 12px;
    }
    .search-input {
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid #ffbb64;
      padding: 6px 12px;
      border-radius: 6px;
      background: #f6f6f6;
      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 12px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #6a6969;
        background: transparent;
        &::placeholder {
          color: #ffbb64;
        }
      }
    }
  }
  .data-content {
    height: 350px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 1px;
    }
    .no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .box {
      background: #e3e1e1;
      padding: 6px 12px;
      border-radius: 10px;
      margin-top: 4px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .flex-box {
        display: flex;
        align-items: center;
        gap: 14px;
        .img {
          img {
            width: 50px;
            border-radius: 10px;
          }
        }
        .para {
          h5 {
            font-size: 15px;
            font-weight: 500;
          }
          .flex-item {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-top: 8px;
            .flex {
              display: flex;
              align-items: center;
              gap: 4px;
              h3 {
                font-size: 11px;
                font-weight: 500;
                color: #ec5757;
              }
              h4 {
                font-size: 11px;
                font-weight: 500;
                color: #049801;
              }
              img {
                width: 6px;
                height: 8px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
      .add-delete-content {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 12px;
        .edit-icon {
          cursor: pointer;
        }
        .delete-icon {
          cursor: pointer;
        }
      }
    }
  }
}
