.anaytic-wrapper {
  width: 50%;
  .anaytic-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-top: 16px;
    .anaytic-box {
      background: #dbdbdb;
      border-radius: 15px;
      padding: 12px;
      width: 196px;
      .img {
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 17px;
          height: 17px;
        }
      }
      p {
        font-size: 12px;
        font-weight: 600;
        margin-top: 16px;
      }
      .flex-item {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 3px;
        img {
          width: 18px;
          height: 20px;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
  }
  .anaytic-content {
    background: #dbdbdb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px 18px;
    height: 180px;
    h4 {
      font-size: 17px;
    }
  }
}
